<div class="container">
	<h1>{{title}}</h1>
  <div class="row">
    <div class="col-md-4">
      <form action='/submit' method='post'>
        <div class="form-group">
          <label for="url">URL</label>
          <input class="form-control" required id='url' name = 'url' type="url" placeholder="http://yoururl.com">
        </div>
        <div class="form-group">
          <label for="keyword">Search Keyword</label>
          <input class="form-control" id='keyword' name = 'keyword' type="text" >
        </div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" onclick="breadthselected()" type="radio" required name="searchType" id="breadth" value="Breadth">
					<label class="form-check-label" for="breadth">Breadth First Search</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" onclick="depthselected()" type="radio" name="searchType" id="depth" value="Depth">
					<label class="form-check-label" for="depth">Depth First Search</label>
				</div>
        <div class="form-group" id="maxDepthChoice">
          <label for="maxDepth">Max Depth for Depth First Search</label>
          <select class="form-control" name="maxDepth" id="maxDepth">
						{{#each depth}}
            <option value='{{this}}'>{{this}}</option>
						{{/each}}
          </select>
        </div>
				<div class="form-group" id="maxBreadthChoice" style="display:none">
          <label for="maxBreadth">Max Depth for Breadth First Search</label>
          <select class="form-control" name="maxBreadth" id="maxBreadth">
            <option value='1'>1</option>
						<option value='2'>2</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-8">
			<h4>Prevous URL Searches</h4>
			<div>
		  {{#each pastURLs}}
			<a href='{{this.query}}' class='previouslinks'>
		    <div>
					<div class="mainurl"><b>URL</b> {{this.url}}</div>
					<b>Keyword:</b> {{this.keyword}} <b>Searchtype:</b> {{this.searchtype}} <b>Limit: </b>{{this.limit}}
				</div>
			</a>
		  {{/each}}
			</div>
    </div>
  </div>
</div>
<script>
function breadthselected(){
	var mdc = document.getElementById('maxDepthChoice');
	mdc.style.display = "none";
	var mbc = document.getElementById('maxBreadthChoice');
	mbc.style.display ="block";
}
function depthselected(){
	var mdc = document.getElementById('maxDepthChoice')
	mdc.style.display = "block";
	var mbc = document.getElementById('maxBreadthChoice')
	mbc.style.display = "none";}
</script>
